@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap");

:root {
  /* Screen size */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-size-paragraph: 0.875rem;

  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-fraunces: "Fraunces", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-paragraph);
  font-weight: 500;
  text-decoration: none;
  color: var(--very-dark-blue);
}

img {
  max-width: 100%;
}
